:root {
  --text-color-one: #ffffff;
  --text-color-two: #212121;
  --text-color-thre: #757575;
  --accent-color: #2196f3;
}

body {
  font-size: "Roboto", sans-serif;
  color: #e5e5e5;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.title-text-second {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-two);
}
/* .current {
  background-color: var(--text-color-one);
  color: var(--accent-color);
} */

/*-------- HEADER --------*/

.logo {
  font-family: Raleway;
  font-style: 400;
  font-weight: bold;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo-text-header {
  color: var(--text-color-two);
}
.header-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #212121;
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

/*-------- MAIN --------*/

/* hero */
.hero {
  background-color: #2f303a;
}
.hero-title {
  font-family: Roboto;
  font-style: 400;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--text-color-one);
  background-color: var(--accent-color);
  cursor: pointer;
}

/* Features */
.features-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-two);
}
.features-description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color-thre);
}
/* presentation */

/* team */
.team-employee {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-two);
}
.team-role {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-thre);
}

/*-------- FOOTER --------*/
.footer {
  background-color: #2f303a;
}
.logo-text-footer {
  color: var(--text-color-one);
}
.footer-address {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color-one);
}
.contacts {
  color: rgba(255, 255, 255, 0.6);
}

/*-------- PORTFOLIO --------*/
/* filters */
.filters-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-two);
  background-color: #f5f4fa;
  cursor: pointer;
}
.filters-btn:hover,
.filters-btn:focus {
  color: var(--text-color-one);
  background-color: var(--accent-color);
}
/* works */
.works-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color-two);
}
.works-title-pre {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color-thre);
}
